<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageRestore>
       <!-- Allow NuGet to download missing packages -->
       <add key="enabled" value="False" />

       <!-- Automatically check for missing packages during build in Visual Studio -->
       <add key="automatic" value="False" />
   </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Vendored Packages" value="C:\Users\Administrator\workspace\windows_app_lifecycle\.nuget\..\vendor" />
  </packageSources>
</configuration>
